<!DOCTYPE html>
<html>
  
<head>
    <title>{{ title }}</title>
</head>
<frameset rows="100%,*">
    <frame src=
"https://raw.githack.com/3kh0/3kh0-assets/main/2048/index.html">
        <noframes>
  
            <body>
                <h1>please for the LOVE OF GOD - GET A NEW BROWSER</h1>
            </body>
        </noframes>
</frameset>
  
</html>